div{
    border-style: dashed;
    font-weight: 900;
    background-color: darksalmon;
    padding: 2px;
    margin: 5px;
}
.cocuk{
    border-style: dotted;
    font-weight: 100;
    color: aqua;
}
.torun{
    border-style: ridge;
    font-weight: 500;
    background-color: cadetblue;
}